GOOGLE_API_KEY=
LANGGRAPH_STRICT_MSGPACK=true
CHECKPOINTER_DB="databases/checkpointer.db"
ASSISTANT_DB="databases/assistant.db"
TELEGRAM_BOT_TOKEN=
ALLOWED_USERS=[]
SCHEDULED_TASKS_POLL_INTERVAL_SECONDS=1
RUN_INTERACTIVE_CONSOLE=true